____
# CineSage: Personalized Movie Recommendation System
____

\- CineSage is an innovative movie recommendation system designed to enhance cinematic experience by providing tailored suggestions based on user preferences and movie attributes. 

\- Utilizing advanced algorithms and a rich dataset, CineSage analyzes various features such as budget, genres, cast, and user ratings to deliver personalized movie recommendations that resonate with individual tastes.

_______

In [1]:
# importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [3]:
# loading the data

movies = pd.read_csv('movies.csv')
credits = pd.read_csv('credits.csv')

In [4]:
movies.head(2) # bird-view of the data

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [5]:
movies.shape # rows and columns

(4803, 20)

In [6]:
credits.head(2) # bird-view of the data

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
credits.shape # rows and columns

(4803, 4)

In [8]:
movies.info() # basic information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [9]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [10]:
# merging movies & credits

movies = movies.merge(credits, on = 'title')

In [11]:
movies.columns # columns in movies

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [12]:
movies.shape # rows and columns in movies

(4809, 23)

In [13]:
movies.head(2) # bird-view of the merged movies dataset

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [14]:
movies['original_language'].value_counts() # count of languages

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [15]:
4809 - 4510 # non-english movies

299

In [16]:
(299/4809)*100 # only 6% movies are non-english movies, so we can drop them

6.217508837596173

In [17]:
# selecting important columns

movies = movies[['movie_id', 'title', 'overview','genres','keywords','cast', 'crew']]
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
movies.isnull().sum() # checking for missing values

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [19]:
movies.dropna(inplace = True) # dropping missing values

## Data cleaning

**genres**

In [20]:
movies['genres'][0] # first row of genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [21]:
# working of ast.literal_eval on first row of genres

import ast

for value in ast.literal_eval(movies['genres'][0]):
    print(value['name']) # extracting the name of genres

Action
Adventure
Fantasy
Science Fiction

In [22]:
def extract_name(array):
    '''
    This function extracts the name of genres and keywords from the array. Created for genres and keywords.

    Returns:
    list_: list of genres in the array
    '''
    list_ = [value['name'] for value in ast.literal_eval(array)]
    return list_

In [24]:
extract_name(movies['genres'][0]) # checking working of function

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [25]:
movies['genres'] = movies['genres'].apply(extract_name) # applying function on genres

**keywords**

In [26]:
movies['keywords'][0] # first row of keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [27]:
extract_name(movies['keywords'][0])

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [28]:
movies['keywords'] = movies['keywords'].apply(extract_name) # applying function on keywords

**cast**

In [29]:
# working of ast.literal_eval on first row of cast to extract the name of first 5 cast

counter = 0
for i in ast.literal_eval(movies['cast'][0]):
    if counter < 5:
        print(i['name'])
        print('*'*20)
        counter += 1

Sam Worthington
********************
Zoe Saldana
********************
Sigourney Weaver
********************
Stephen Lang
********************
Michelle Rodriguez
********************

In [30]:
def extract_top_5_cast(array):
    '''
    This function extracts the name of top 5 cast from the array. Created for cast.

    Returns:
    list_: list of top 5 cast in the array
    '''
    list_ = [i['name'] for i in ast.literal_eval(array)[:5]]
    return list_

In [31]:
extract_top_5_cast(movies['cast'][0]) # checking working of function

['Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez']

In [32]:
movies['cast'] = movies['cast'].apply(extract_top_5_cast) # applying function on cast

**crew**

In [33]:
ast.literal_eval(movies['crew'][0])[0] # first value in first row of crew

{'credit_id': '52fe48009251416c750aca23',
 'department': 'Editing',
 'gender': 0,
 'id': 1721,
 'job': 'Editor',
 'name': 'Stephen E. Rivkin'}

In [34]:
for i in ast.literal_eval(movies['crew'][0]): # extracting the job of crew
    print(i['job'])

Editor
Production Design
Sound Designer
Supervising Sound Editor
Casting
Original Music Composer
Director
Writer
Editor
Producer
Screenplay
Art Direction
Visual Effects Producer
Casting
Supervising Art Director
Music Editor
Sound Effects Editor
Foley
Foley
Costume Design
Producer
Art Direction
Set Decoration
Supervising Art Director
Set Designer
Executive Producer
Costume Design
Director of Photography
Set Designer
Stunts
Makeup Artist
Hairstylist
Camera Operator
Art Direction
Visual Effects Supervisor
Visual Effects Editor
Editor
Set Designer
Director of Photography
Stunts
Visual Effects Supervisor
Dialect Coach
Art Direction
Art Direction
Art Direction
Motion Capture Artist
Stunt Coordinator
Visual Effects Supervisor
Supervising Art Director
Supervising Art Director
Casting
Production Design
Costume Design
Steadicam Operator
Makeup Department Head
Visual Effects Producer
Visual Effects Supervisor
Post Production Supervisor
Visual Effects Supervisor
Makeup Artist
Costume Supervisor
Visual Effects Supervisor
Art Direction
Costume Supervisor
Costume Supervisor
Costume Supervisor
Set Designer
Set Designer
Dialogue Editor
Set Designer
Transportation Coordinator
Transportation Coordinator
Supervising Sound Editor
Set Designer
Set Designer
Set Designer
Set Designer
Set Designer
Art Department Coordinator
Set Designer
Assistant Art Director
Construction Coordinator
Assistant Art Director
Dialogue Editor
Dialogue Editor
Supervising Sound Editor
Sound Re-Recording Mixer
Choreographer
Visual Effects Producer
Visual Effects Supervisor
Visual Effects Supervisor
Sound Effects Editor
CG Supervisor
Visual Effects Editor
Visual Effects Supervisor
Digital Intermediate
Visual Effects Supervisor
Steadicam Operator
Sound Effects Editor
Production Supervisor
Production Manager
Sound Effects Editor
Special Effects Coordinator
Special Effects Coordinator
Visual Effects Producer
Visual Effects Producer
Visual Effects Editor
Visual Effects Editor
Visual Effects Producer
Visual Effects Editor
Visual Effects Supervisor
Visual Effects Supervisor
Visual Effects Supervisor
Visual Effects Supervisor
Visual Effects Supervisor
Visual Effects Supervisor
Stunt Coordinator
Best Boy Electric
Still Photographer
Lighting Technician
Animation Director
Animation Director
Animation Director
Set Costumer
Set Costumer
Digital Intermediate
Publicist
CG Supervisor
CG Supervisor
Conceptual Design
Visual Effects Art Director
Modeling
Art Department Manager
Hairstylist
Lighting Artist
Makeup Artist
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
CG Supervisor
Stunts

\- we are going to fetch director name only

In [35]:
for i in ast.literal_eval(movies['crew'][0]):
    if i['job'] == 'Director': # extracting the name of director only
        print(i['name'])

James Cameron

In [36]:
def extract_director_name(array):
    '''
    This function extracts the name of director from the array. Created for crew.

    Returns:
    list_: list of director in the array
    '''
    list_ = [i['name'] for i in ast.literal_eval(array) if i['job'] == 'Director']
    return list_

In [37]:
extract_director_name(movies['crew'][0]) # checking working of function

['James Cameron']

In [38]:
movies['crew'] = movies['crew'].apply(extract_director_name) # applying function on crew

In [39]:
movies.head() # checking the processed data

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

\- Now, we are going to remove spacing between charactors.  
\- Like, `Sam Worthington` will become `SamWorthington` and so on.

In [40]:
movies['cast'][0][0].replace(' ', '') # removing spaces from the name of cast

'SamWorthington'

In [41]:
def remove_space_between(array):
    '''
    This function removes the spaces between the values of array.

    Returns:
    list_: list of value with removed spaces
    '''
    list_ = [value.replace(' ', '') for value in array]
    return list_

In [42]:
remove_space_between(movies['cast'][0])

['SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'StephenLang',
 'MichelleRodriguez']

In [43]:
for column in movies.columns[3:]: # removing spaces from the columns: genres, keywords, cast & crew
    movies[column] = movies[column].apply(remove_space_between)

In [43]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

**overview**

In [44]:
movies['overview'] = movies['overview'].apply(lambda x: x.split()) # splitting the overview, to make a list of words

In [47]:
# combining overview, genres, keywords, cast, crew  to make tags a single column

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [48]:
df = movies.drop(columns = ['overview','genres','keywords','cast','crew']) # dropping the columns & making a new dataframe

In [49]:
' '.join(df['tags'][0]) # joining the tags of first row

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez JamesCameron'

In [50]:
df['tags'] = df['tags'].apply(lambda x: ' '.join(x)) # joining the values between tags column

In [51]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [52]:
df.shape # rows and columns in new dataframe

(4806, 3)

In [55]:
# converting tag column into vector

from sklearn.feature_extraction.text import CountVectorizer

# creating object of CountVectorizer
count_vectorizer = CountVectorizer(max_features = 5000, # only keeping top 5000 vectors
                                   stop_words = 'english') #  removing stop words

In [56]:
vector = count_vectorizer.fit_transform(df['tags']).toarray() # converting tags into vector

In [57]:
pd.DataFrame(vector) # visual representation of vector

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4801,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4803,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4804,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4805,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
vector.shape # shape of vector

(4806, 5000)

In [59]:
# calculating cosine similarity

from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(vector)

In [60]:
similarity_scores # similarity scores calculated

array([[1.        , 0.08458258, 0.05812382, ..., 0.02478408, 0.02739983,
        0.        ],
       [0.08458258, 1.        , 0.06063391, ..., 0.02585438, 0.        ,
        0.        ],
       [0.05812382, 0.06063391, 1.        , ..., 0.02665009, 0.        ,
        0.        ],
       ...,
       [0.02478408, 0.02585438, 0.02665009, ..., 1.        , 0.07537784,
        0.04828045],
       [0.02739983, 0.        , 0.        , ..., 0.07537784, 1.        ,
        0.05337605],
       [0.        , 0.        , 0.        , ..., 0.04828045, 0.05337605,
        1.        ]])

In [61]:
df[df['title'] == 'John Carter'].index[0] # index of movie John Carter

4

In [61]:
# finding most similar five vectors to John Carter with respect to cosine similarity

distances = sorted(list(enumerate(similarity_scores[4])), key = lambda x: x[1], reverse=True)[1:5]
distances

[(581, 0.23925944182183168),
 (373, 0.2179004822276417),
 (169, 0.213540710879491),
 (1741, 0.21304071579547101)]

In [62]:
for i,_ in distances:
    print(df['title'][i]) # printing the most similar movies to John Carter

Star Trek: Insurrection
Mission to Mars
Captain America: The First Avenger
Ghosts of Mars

In [64]:
def recommend_10_similar_movies(movie_name):
    '''
    This function recommends 10 similar movies to the given movie_name.

    movie_name (str): name of the movie for which similar movies are to be recommended

    Returns:
    list_: list of 10 similar movies to the given movie_name
    
    '''
    # finding index of given movie_name
    index = df[df['title'] == movie_name].index[0]
    
    # finding top 10 similar movies
    distances = sorted(list(enumerate(similarity_scores[index])), key = lambda x: x[1], reverse = True)[1:11]
    
    for i,_ in distances:
        print(df['title'][i]) # printing the top 10 similar movies

In [65]:
recommend_10_similar_movies('The Dark Knight Rises')

The Dark Knight
Batman Begins
Batman
Batman Returns
Batman
Batman Forever
Batman & Robin
The Egyptian
Batman v Superman: Dawn of Justice
2:13

In [66]:
recommend_10_similar_movies('The Wolverine')

X-Men
X2
X-Men Origins: Wolverine
X-Men: The Last Stand
X-Men: Days of Future Past
Teenage Mutant Ninja Turtles III
47 Ronin
Avengers: Age of Ultron
God's Not Dead 2
Iron Man 2

____________